body{
  font-family: 'PT Serif', serif;
  background-color: @primary-background-color;
}

form{
  display: inline-block;
}

input, textarea{
  width: @content-width;
}

input{
  display: block;
}

textarea{
  display: block;
  height: 100px;
}

button{
  text-align: center;
  margin-top: 15px;
}

a, a:visited { 
  color: @title-text-color;
  text-decoration: none;
}