#linkList, #collectionList{
  text-align: center;
  display: block;
  margin: 0px auto;
}

#collectionList ul{
  text-align: center;
  display: block;
  margin: 0px auto;
  width: 400px;
}

#collectionList ul li{
  text-align: left;
}

#collectionList input{
  display: inline-block;
}

form{
  display: inline-block;
}

input, textarea{
  width: 400px;
}

input{
  display: block;
}

textarea{
  display: block;
  height: 100px;
}

button{
  text-align: center;
  margin-top: 15px;
}

dl{
  width: 400px;
  margin: 0 auto; 
}

dt{
  border-width: 1px 1px 0;
  border-color: red;
  border-style: solid;
  text-decoration: underline;
  padding: 1em 1em 0;
  text-align: left;
}

dd{
  border-width: 0 1px 1px;
  border-color: red;
  border-style: solid;
  margin: 0 0 10px 0;
  padding: 1em;
  text-align: left;
}